routes/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sub">
    <complexType>
     <sequence>
      <element name="n1" type="xsd:double"/>
      <element name="n2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="subResponse">
    <complexType>
     <sequence>
      <element name="subReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="soma">
    <complexType>
     <sequence>
      <element name="n1" type="xsd:double"/>
      <element name="n2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="somaResponse">
    <complexType>
     <sequence>
      <element name="somaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:sub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaResponse">

      <wsdl:part element="impl:somaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaRequest">

      <wsdl:part element="impl:soma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculadora">

      <wsdl:operation name="sub">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma">

         <wsdl:input message="impl:somaRequest" name="somaRequest">

       </wsdl:input>

         <wsdl:output message="impl:somaResponse" name="somaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraService">

      <wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">

         <wsdlsoap:address location="http://192.168.0.101:8080/Calculadora/services/Calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
